@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Righteous&display=swap');

*{
    margin: 0;
    padding: 0;
}
.main-container{
    height: 100vh;
    width: 100%;
    background-image: url(./image/back.png);
    background-repeat: no-repeat;
   
    
}
nav{
    height: 10vh;
    display: flex;
    align-items: center;
    /* background: #232526; 
        background: -webkit-linear-gradient(to right, #414345, #232526);  
        background: linear-gradient(to right, #414345, #232526); */
       justify-content: space-between;
    /* background-color: aqua; */

}
nav ul{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
nav ul li{
    list-style: none;
    color: #fff;

}
nav h1{
    width: 10%;
    text-align: end;
    color: #fff;
}
nav .btn{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav .btn .log{
    width: 30%;
    height: 35px;
    background: none;
    border: none;
    color:white;
    font-size: 15px;
    margin: 5px;
}
nav .btn .sign{
    width: 30%;
    height: 35px;
    background: none;
    border: 1px solid white;
    color:white;
    font-size: 15px;
    margin: 5px;
}
button .sign:hover{
    color: black;
    border: 1px solid black;
}
.main  button:hover{
    color: black;
    border: 1px solid #000;

}
.main{
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main .text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 300px;

}
.text h1{
    font-size:90px;
    font-weight: 100;
    color: #fff;
    margin-left: 100px;
    font-family: 'Bangers', cursive;
   
}
.text .p1{
    font-size: 20px;
    text-align: start;
    margin-top: 5px;
    margin-right: 10%;
    color: rgb(203, 203, 203);


}
.text .btn1{
    width:80%;
    height:50px;
    margin-left:8% ;
    /* background-color: aquamarine; */
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    /* margin-top: 30px; */
}

.enroll{
    height: 45px;
    width: 30%;
    background: none;
    color: #fff;
    border: 2px solid white;
    font-size: 18px;
}

.watch{
    height: 50px;
    width: 30%;
    background: none;
    color: #fff;
    border:none;
    font-size: 15px;
    margin-left: 20px;
    /* text-align: end; */
    
}
 .bi-play-circle-fill{
    margin-top: 10px;
    font-size: 30px;
    text-align: start;
        margin-left: 28px;
        color: #fff;
}
.dis-h{
    margin-right: 15%;
    margin-top: 10%;
    font-size: 30px;
    color: #fff;
}
.discover{
    width: 80%;
    margin-left: 8%;
    margin-top: 20px;
    /* background-color: antiquewhite; */
    display: flex;
    align-items: center;
    justify-content: flex-start;



}
.file{
    margin-right: 50px;
}
.discover .file .bi-file-earmark-text{
    font-size: 25px;
    border: 2px solid white;
    border-radius: 10px;
    color: #fff;
}
.discover p{
    font-size: 15px;
    color: #fff;
    font-weight: 100;
    margin-top: 20px;
}
.discover .tick .bi-patch-check{
    font-size: 25px;
    border: 2px solid white;
    border-radius: 10px;
    color: #fff;
}

.main .img img
{
    height: 630px;
    margin-top:40%;
    margin-left: 300px
}
.bi-list{
    display: none;
}

@media(max-width:414px){
    body{
        border: 1px solid gray;
    }
    .main-container nav ul{
        display: none;
    }
    nav{
        border-bottom: 1px solid rgb(4, 4, 4);
    }
    nav .btn .log{
        display: none;
    }
    nav h1{
        width: 25%;
        margin-left: 15%;
        margin-right: 20px;
        border: 5px solid #000;
        
    }
    nav .btn{
       
        margin-right: 10px
    }
    nav .btn .sign{
       width: 100px;
       /* color: s#000; */
       font-weight: 700;
      border: none;

    }
  
    .bi-list{
        display: block;
        color: #fff;
        font-weight:900 ;
        font-size: 30px;
    }
    .main{
        /* display: ; */
        height: 100vh;
        background-image: url(./image/project.png);
        background-size:cover;
        /* margin-bottom: 50%; */
        background-position:top;
        
    }
    .text{
        width: 100%;
        /* margin-right: 50%; */
       margin-bottom: 100%;
       text-align: center;
    }
    .text .btn1{
        width: 100%;
        margin-right:10%;
        margin-bottom: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .btn1 .enroll{
        width: 50%;
        height: 50px;
        border:5px solid  #000;
        background-color: antiquewhite;
        color: black;
        font-size: 25px;
        /* margin-bottom: 20%; */
    }
  .btn1 .bi-play-circle-fill{
    font-size: 50px;
    color: rgb(255, 0, 0);
    margin-right: 20px;
    /* border: 5px solid  #000; */
    /* border-radius: 100px; */
  }
  .btn1 .watch{
    width: 50%;
    height: 150px;
    font-size: 20px;
    margin-right: 20px;
    background-color: antiquewhite;
    color: #000;
    border: 5px solid black;
  }
    .main .text h1{
        color: rgb(0, 0, 0);
        width: 80%;
        font-size: 50px;
        margin-top: 20%;
        margin-bottom: 25%;
        margin-right: 30%;
        font-family: 'Righteous', cursive;
        border: 2px solid black;
    }
    .main .text .p1{
        display: none;

    }
    .main .dis-h{
        display: none;
    }
    .discover{
        display: none;
    }
    .main .img img{
       display: none;
    }
}



